
<a class="navbar-brand" href="/productos">Productos</a>

<form method="POST" action="/productos" id="formulario">
    <label for="title">Título:</label>
    <input type="text" name="title" id="title"  required>
    <label for="mainCharacter">Price:</label>
    <input type="text" name="price" id="price"  required>
    <input type="submit" value="Enviar">
</form>